#exportPattern("^[[:alpha:]]+")
export(gama, print.gama, plot.gama)
importFrom("stats", "dist", "prcomp", "runif")
importFrom("utils", "head", "packageVersion")
S3method("plot", "gama")
S3method("print", "gama")
